[submodule "node-fluent-ffmpeg"]
	path = node-fluent-ffmpeg
	url = https://github.com/fluent-ffmpeg/node-fluent-ffmpeg.git
[submodule "async"]
	path = async
	url = https://github.com/caolan/async.git
[submodule "watch"]
	path = watch
	url = https://github.com/mikeal/watch.git
[submodule "moment"]
	path = moment
	url = https://github.com/moment/moment.git
